[Unit]
Description=Sync minutes behind of blockchain sync

[Service]
Type=oneshot
ExecStart=/usr/local/bin/syncStatus.sh

[Install]
WantedBy=multi-user.target